@font-face {
  font-family: 'JosefinSans-Thin';
  src: url('../fonts/JosefinSans-Thin.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;

}
